.text-whitesmoke {
    color: #F5F5F5
}

.bg-whitesmoke {
    background-color: #F5F5F5
}

.text-tomato {
    color: #FF6347
}

.bg-tomato {
    background-color: #FF6347
}

.text-white {
    color: #FFFFFF
}

.bg-white {
    background-color: #FFFFFF
}

.text-white {
    color: #FFFFFF
}

.bg-white {
    background-color: #FFFFFF
}

.text-white {
    color: #FFFFFF
}

.bg-white {
    background-color: #FFFFFF
}

.text-black {
    color: #000000
}

.bg-black {
    background-color: #000000
}

.text-red {
    color: #FF0000
}

.bg-red {
    background-color: #FF0000
}

.text-black {
    color: #000000
}

.bg-black {
    background-color: #000000
}

.text-black {
    color: #000000
}

.bg-black {
    background-color: #000000
}

.text-black {
    color: #000000
}

.bg-black {
    background-color: #000000
}

.text-black {
    color: #000000
}

.bg-black {
    background-color: #000000
}

.text-black {
    color: #000000
}

.bg-black {
    background-color: #000000
}

#e__1040 {
    width: 1280px;
    height: 1646.00px;
    background-color: rgba(245, 247, 250, 1.00);
    padding: 0px 0px 0px 0px;
}

#e__1041 {
    width: 1280px;
    height: 58.00px;
    background-color: rgba(239, 76, 76, 1.00);
    position: absolute;
    top: 1646px;
    left: 0px;
    padding: 0px 0px 0px 0px;
}

#e__1042 {
    width: 1293px;
    height: 405.00px;
    position: absolute;
    top: 1588px;
    left: 0px;
    padding: 0px 0px 0px 0px;
}

#e__1043 {
    width: 271px;
    height: 52.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Instrument Serif;
    font-weight: 400;
    font-size: 40px;
    position: absolute;
    top: 1643px;
    left: 535px;
    padding: 0px 0px 0px 0px;
}

#e__1044 {
    width: 200px;
    height: 40.00px;
    position: absolute;
    top: 1289px;
    left: 540px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}

#e__1047 {
    width: 400px;
    height: 34.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Instrument Serif;
    font-weight: 400;
    font-size: 26px;
    position: absolute;
    top: 1367px;
    left: 440px;
    padding: 0px 0px 0px 0px;
}

#e__1048 {
    border: 5px solid rgba(255, 255, 255, 1.00);
    width: 130px;
    height: 130.00px;
    position: absolute;
    top: 1501px;
    left: 575px;
    padding: 0px 0px 0px 0px;
}

#e__1049 {
    width: 451px;
    height: 52.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Instrument Serif;
    font-weight: 400;
    font-size: 40px;
    position: absolute;
    top: 1233px;
    left: 414px;
    padding: 0px 0px 0px 0px;
}

#e__1050 {
    width: 1280px;
    height: 64.00px;
    position: absolute;
    top: 463px;
    left: 0px;
    padding: 0px 0px 0px 0px;
}

#e__1051 {
    width: 110px;
    height: 42.00px;
    color: rgba(0, 0, 0, 1.00);
    text-align: left;
    font-family: Instrument Serif;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    top: 1172px;
    left: 77px;
    padding: 0px 0px 0px 0px;
}

#e__1052 {
    width: 89px;
    height: 42.00px;
    color: rgba(255, 12, 12, 1.00);
    text-align: left;
    font-family: Instrument Serif;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    top: 1172px;
    left: 267px;
    padding: 0px 0px 0px 0px;
}

#e__1053 {
    width: 68px;
    height: 42.00px;
    color: rgba(0, 0, 0, 1.00);
    text-align: left;
    font-family: Instrument Serif;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    top: 1172px;
    left: 436px;
    padding: 0px 0px 0px 0px;
}

#e__1054 {
    width: 94px;
    height: 42.00px;
    color: rgba(0, 0, 0, 1.00);
    text-align: left;
    font-family: Instrument Serif;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    top: 1172px;
    left: 584px;
    padding: 0px 0px 0px 0px;
}

#e__1055 {
    width: 74px;
    height: 42.00px;
    color: rgba(0, 0, 0, 1.00);
    text-align: left;
    font-family: Instrument Serif;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    top: 1172px;
    left: 758px;
    padding: 0px 0px 0px 0px;
}

#e__1056 {
    width: 83px;
    height: 42.00px;
    color: rgba(0, 0, 0, 1.00);
    text-align: left;
    font-family: Instrument Serif;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    top: 1172px;
    left: 912px;
    padding: 0px 0px 0px 0px;
}

#e__1057 {
    width: 129px;
    height: 42.00px;
    color: rgba(0, 0, 0, 1.00);
    text-align: left;
    font-family: Instrument Serif;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    top: 1172px;
    left: 1075px;
    padding: 0px 0px 0px 0px;
}

#e__10119 {
    width: 400px;
    height: 521.00px;
    position: absolute;
    top: 570px;
    left: 100px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}

#e__10121 {
    width: 400px;
    height: 521.00px;
    position: absolute;
    top: 19px;
    left: 100px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}

#e__10127 {
    width: 400px;
    height: 521.00px;
    position: absolute;
    top: 15px;
    left: 780px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}

#e__10120 {
    width: 400px;
    height: 521.00px;
    position: absolute;
    top: 566px;
    left: 780px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}